@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: black;
  --secondary-foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-background: rgb(249 250 251);
  --color-secondary-background: #141330;
  --color-terciary-background: #5c1f22;
  --color-quarternary-background: #414345;
  --color-primary-accent: #159437;
  --color-secondary-accent: #db1f28;
  --color-terciary-accent: #95a0a6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-primary-background);
    --foreground: black;
    --secondary-foreground: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
